<div align="center" class="body-container">
  <div style="margin: 30px"></div>

  <h1>欢迎来到</h1>
  <h1>管理员模式</h1>
  <div style="margin: 40px 20px">
    <div Button class="full-fill" [type]="'primary'" [size]="'small'" [inline]="true" routerLink="/manege/add">采购</div>
    <div Button class="full-fill" [type]="'primary'" [size]="'small'" [inline]="true" routerLink="/manege/delete">淘汰</div>
    <br/>
    <div Button class="full-fill" [type]="'primary'" [size]="'small'" [inline]="true" routerLink="/manege/csltusr">查询用户</div>
    <div Button class="full-fill" [type]="'primary'" [size]="'small'" [inline]="true" routerLink="/manege/consult">查询库存</div>
  </div>
  <br/><br/>
  <div class="surport-info">
    <span>surport by @ustc.edu.cn</span>
  </div>
</div>
