<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    <div class="sidenav-container" align="center">

      <div class="background-container" >
        <br/><br/>
        <p class="side-header">WELCOME</p>
        <p class="side-header upper" >USTC LIB</p>
      </div>
      <div align="center" *ngIf="!status">
        <div style="height: 100px"></div>
        <p style="color: #c4c4c4;">您还未注册</p>
      </div>
      <div class="kind-constainer" *ngIf="status && kind === 'usr'" align="left">
        <button Button type="submit" class="button" [type]="'alert'" (click)="sidenav.toggle()"
                [inline]="false" routerLink="/usr/lended_books">我已借的书</button>
        <button Button type="submit" class="button" [type]="'alert'" (click)="sidenav.toggle()"
                [inline]="false" routerLink="/usr/change-info">更改个人信息</button>
        <div Button class="logout-btn" [type]="'warning'" [inline]="false"
             (click)= "sidenav.toggle()">退出登录</div>
      </div>
      <div class="kind-constainer" *ngIf="status && kind === 'mng'" align="left">
        <button Button type="submit" class="button"  [type]="'alert'" (click)="sidenav.toggle()"
                [inline]="false" routerLink="/manege/add-record">我采购的书</button>
        <button Button type="submit" class="button"  [type]="'alert'" (click)="sidenav.toggle()"
                [inline]="false" routerLink="/manege/delete-record">我撤除的书</button>
        <button Button type="submit" class="button"  [type]="'alert'" (click)="sidenav.toggle()"
                [inline]="false" routerLink="/manege/change-info" >修改用户信息</button>
        <div Button class="logout-btn" [type]="'warning'" [inline]="false"
             (click)= "sidenav.toggle()">退出登录</div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content style="background-color:#ffffff">
    <Navbar [leftContent]="BackTemplate"
            [rightContent]="OpenTemplate"
            (onLeftClick)="Back()">
      USTC LIB
    </Navbar>
    <ng-template #BackTemplate>
      <a><i nz-icon type="left" theme="outline"></i></a>
    </ng-template>

    <ng-template #OpenTemplate>
      <a (click)="sidenav.toggle();refresh()"><i nz-icon type="menu-unfold" theme="outline"></i></a>
    </ng-template>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


